[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile={{ nginx_from_source_on_ubuntu_pidfile_path }}
ExecStartPre={{ nginx_from_source_on_ubuntu_sbin_path }} -t
ExecStart={{ nginx_from_source_on_ubuntu_sbin_path }}
ExecReload={{ nginx_from_source_on_ubuntu_sbin_path }} -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
