[Unit]
Description=Gitea
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ gitea_user }}
Group={{ gitea_group }}
ExecStart={{ gitea_install_dir }}/gitea web
Restart=always
Environment=USER={{ gitea_user}} HOME=/home/{{ gitea_user}}

[Install]
WantedBy=multi-user.target
