[Unit]
Description=Gitea
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ gitea_from_binary_on_debian_user }}
Group={{ gitea_from_binary_on_debian_group }}
ExecStart={{ gitea_from_binary_on_debian_install_dir }}/gitea web
Restart=always
Environment=USER={{ gitea_from_binary_on_debian_user}} HOME=/home/{{ gitea_from_binary_on_debian_user }}

[Install]
WantedBy=multi-user.target
